@use '../variables' as *;

.header {
    background-color: $white;
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba($color-second, 0.1);

    &__container {
        @include container;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 12px;

        &-icon {
            font-size: 2rem;
        }

        &-text {
            display: flex;
            flex-direction: column;
            font-family: $font-heading;
            font-weight: 700;
            line-height: 1;
            font-size: 1.1rem;
            color: $black;

            span:first-child {
                color: $color-first;
            }
        }
    }

    &__nav-list {
        display: flex;
        gap: 32px;

        a {
            font-family: $font-body;
            font-weight: 500;
            font-size: 1rem;
            color: $black;
            transition: $transition-base;

            &:hover,
            &.active {
                color: $color-first;
            }
        }
    }

    @media (max-width: 900px) {

        &__nav,
        &__cta {
            display: none; // Wymagałoby implementacji menu mobilnego
        }
    }
}