@use '../../variables' as *;

.about-intro {
    background-color: $white;
    padding: 80px 0; // Standardowy padding
    position: relative;
    z-index: 5;

    &__container {
        @include container;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        align-items: center;

        @media (max-width: 900px) {
            grid-template-columns: 1fr;
            text-align: center;
        }
    }

    // ... reszta stylów tekstu i zdjęcia bez zmian
    &__content h2 {
        font-size: 3rem;
        color: $black;
        margin-bottom: 24px;
    }

    &__content p {
        color: $color-second;
        margin-bottom: 24px;
    }

    &__image img {
        width: 100%;
        border-radius: $border-radius
    }
}