@use '../../variables' as *;

.join-cta {
    background-color: $white;
    padding: 60px 0 100px;

    // Upewnij się, że nie ma tu żadnych starych fal
    position: relative;
    z-index: 5;

    &__container {
        @include container;
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        align-items: center;
        gap: 60px;

        @media (max-width: 900px) {
            grid-template-columns: 1fr;
            text-align: center;
        }
    }

    &__image img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        display: block;
    }

    &__content h2 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: $black;
    }

    &__content p {
        color: $color-second;
        margin-bottom: 30px;
    }
}