@use "../variables" as *;

.page-contact {
	padding: 7rem 9rem;
	background-color: $white;
	min-height: 70vh;

	.page-contact-inner {
		max-width: 520px; // szerokość tekstu
		margin-right: auto; // pcha w lewo
		margin-left: 0; // NIE centruj

		.header-contact {
			max-width: 520px;

			margin-bottom: 48px;
			display: flex;
			flex-direction: column;
			gap: 20px;

			.hero-contact {
				font-family: $font-accent;
				color: $color-first;
			}
		}

		.contact-fonts {
			margin-top: 32px;

			.contact-container {
				max-width: 360px;
				display: flex;
				flex-direction: column;
				gap: 16px;

				.contact-row {
					display: flex;
					align-items: center;
					gap: 16px;

					.contact-icon {
						width: 48px;
						height: 48px;
						background-color: $color-first;
						border-radius: 50%;
						text-align: center;
						align-content: center;

						svg {
							position: relative;
							bottom: -3px;
							color: $white;
						}
					}

					.contact-text {
						display: flex;
						flex-direction: column;
						gap: 2px;

						.contact-label {
							font-size: 12px;
							opacity: 0.7;
						}

						.contact-value {
							font-size: 16px;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}


@media (max-width: 1024px) {
	.page-contact {
		padding: 4rem 5rem;
	}
}

@media (max-width: 767px) {
	.page-contact {
		padding: 3rem 2rem;
		text-align: center;

		.contact-container {
			align-items: center;
		}
	}

	.page-contact-inner {
		margin-left: 0;
		margin-right: 0;
	}
}