* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page-contact {
	// min-height: 60vh;
	padding-block: clamp(2.5rem, 5vw, 3.5rem);
	margin-bottom: 3rem;
	text-align: center;
}

.contact {
	text-decoration: dashed;
}
