// Główny plik stylów dla strony Home, importuje style komponentów
// Kolejność importu ma znaczenie dla kaskadowości
@use '../components/home/heroSection';
@use '../components/home/aboutIntro';
@use '../components/home/pillarsSection';
@use '../components/home/joinCta';

.home-page {
    // Ewentualne style globalne tylko dla home page
    overflow-x: hidden;
}