@use "./fonts";
@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// h1,
// h2,
// h3,
// h4 {
// 	font-family: $font-heading;
// }

// p,
// a,
// li {
// 	font-family: $font-body;
// }
