@use "./fonts";
@use "./variables" as *;

@use 'components/ui/waves';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  background-color: $white;
  color: $black;
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $black;
  font-weight: 700;
  line-height: 1.1;
}

p {
  color: $color-second;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}