@use "../../variables" as *;

.board-section {
  background-color: $white;
  padding: clamp(3rem, 6vw, 5rem) 0;

  &__container {
    @include container;
    text-align: center;
  }

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: $black;
  }
}
