@use '../../variables' as *;

// Definicja animacji tylko w tym pliku
@keyframes morph {
    0% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }

    33% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }

    66% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
}

.decorative-blobs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; // Ustawiamy niski z-index
    pointer-events: none; // Ważne: przepuszcza kliknięcia do elementów pod spodem
    overflow: hidden;

    .blob {
        position: absolute;
        animation: morph 15s ease-in-out infinite;
    }

    // Blob 1: Prawy górny
    .blob--top-right {
        top: 20%;
        right: 15%;

        width: 500px;
        height: 500px;
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        background-color: rgba($color-first, 0.1);

        // Na mniejszych ekranach też warto go trochę dopasować
        @media (max-width: 1024px) {
            right: 5%;
            width: 400px;
            height: 400px;
        }

        @media (max-width: 767px) {
            top: 5%;
            right: 0;
            width: 300px;
            height: 300px;
        }
    }

    // Blob 2: Lewy dolny
    .blob--bottom-left {
        bottom: 5%;
        left: -15%;
        width: 450px;
        height: 450px;
        background-color: rgba($color-first, 0.3);
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        animation-direction: reverse;

        @media (max-width: 1024px) {
            width: 300px;
            height: 300px;
        }

        @media (max-width: 767px) {
            width: 250px;
            height: 250px;
        }
    }
}