@use '../../variables' as *;

.ui-wave {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    z-index: 2;
    pointer-events: none;

    svg {
        display: block;
        width: 100%;
        overflow: visible;

        path {
            fill: $white; // Domyślny kolor
            transition: fill 0.3s ease;
        }
    }

    // --- POZYCJE ---
    &--top {
        top: -1px;
    }

    &--bottom {
        bottom: -1px;
    }

    // --- KSZTAŁTY ---

    // 1. Double Curve
    &--double-curve {
        svg {
            height: clamp(3.75rem, 14vw, 12.5rem);
        }
    }

    // 2. Asymmetric Dip
    &--asymmetric-dip {
        svg {
            height: clamp(3.125rem, 12vw, 11.25rem);
        }
    }

    // 3. Double Wave (Stara Hero)
    &--double-wave {
        z-index: 3;

        svg {
            height: clamp(3.75rem, 15vw, 11.25rem);
        }
    }

    // --- WARIANTY KSZTAŁTU ---
    &--big-curve {
        z-index: 3;

        svg {
            // Domyślna wysokość fali, uniwersalna dla całego projektu
            height: clamp(6.25rem, 25vw, 20rem);
        }
    }
}